*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* contatore */
#contatore{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
#cont-rosso{
  color: red;
}
#cont-verde{
  color: green;
}



/* griglia */
.contenitore{
  margin-top: 50px;
}
.grigliaFlex{
  width: 320px;
  margin: auto;
  display: flex;
}
.quadratini{
  height: 40px;
  border: solid 1px black;
  flex-basis: calc( 100% / 8 );
}
